---
name: Lint

"on":
  pull_request:
  push:
    branches: ["main"]

jobs:
  cookstyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
      - name: Install cookstyle
        run: gem install cookstyle
      - name: Run cookstyle
        run: cookstyle

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install yamllint
        run: pip install yamllint
      - name: Run yamllint
        run: yamllint -s .
